---
import "../../styles/style.css";
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";

// Bruger getStaticPaths til at få al dataen fra hvert element frem.
export async function getStaticPaths() {
  // Fetcher dataen
  const data = await fetch(
    "https://cjepvoafgeuerftcusje.supabase.co/rest/v1/productview",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqZXB2b2FmZ2V1ZXJmdGN1c2plIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ2MjU1MDksImV4cCI6MjA2MDIwMTUwOX0.gU1uwhXne8u2qV-q9X6GfqGiJhLSQ3lYIWqdx5_EzJ4",
      },
    }
    // Resultatet konverteres til JSON-format med response.json().
  ).then((response) => response.json());

  // Når dataene er hentet, bruger koden map-funktionen til at iterere over hvert kunstværk i dataene.
  // For hvert kunstværk returneres et objekt med params og props:
 
  return {
    paths: data.map((product) => ({
      params: { slug: product.tag },
      props: { data: product },
    })),
  };
}

// Indsætter dataen, så vi kan bruge den nede i html'en ved at skrive data. efterfulgt af den data vi gerne vil bruge fra datasættet.
const { data } = Astro.props;
console.log(data);
---

<MainLayout title="Singleview">
  <section>
    <figure>
      <img
        class="large_img"
        src={`/imgs/artworks/${data.image}`}
        width="720px"
        height="620px"
        loading="lazy"
        alt="Artwork"
      />
    </figure>
  </section>

  <div>
    <div>
      <div>
        <h2>{data.product}</h2>
      </div>
      <h3>{data.brand}</h3>
    </div>
    <p>{data.description}</p>
    <p>{data.price}</p>

    <div class="button">
      <Button destination="/about">Get in touch</Button>
    </div>
  </div>
</MainLayout>