---
// Props
// const { href = "#", imageSrc, brand, productName, price } = Astro.props;

// Indsætter dataen, så vi kan bruge den nede i html'en ved at skrive data. efterfulgt af den data vi gerne vil bruge fra datasættet.
const { data } = Astro.props;
console.log(data);

---

<!-- ${data.tags.join(",")}`-->
<a href={`product/${data.slug}`} class="block max-w-sm md:max-w-lg mx-auto bg-[#FFFFFF] overflow-hidden p-s hover:shadow-drop25 transition-shadow duration-200">
  <img
    src=`/imgs/produktbilleder/${data.image}`
    alt={data.product}
    class="w-[380px] h-[380px] object-contain mx-auto -mt-xs bg-white shadow-md"
  />
  <div class="mt-xs">
    <p class="text-brown-600  text-sm uppercase tracking-wide">{data.brand}</p>
    <div class="flex items-center justify-between mt-xxs">
    <p class="text-brown-600">{data.product}</p>
    <p class="text-orange-500  font-bold">{data.price}</p>
</div>
  </div>
</a>

